@keyframes pop {
    0% { transform: scale(0.8); opacity: 0; }
    60% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}
body {
    background-color: #212121;
    color: white
}

.container2 {
    max-width: 70%;
    background-color: #222535;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#upload-btn {
    background-color: #30343f;
  border-radius: 4px;
  border: 1px solid rgb(113, 169, 219);
  margin-bottom: 2%;
  padding: 3px;
  
}

.heading {
    margin-bottom: 3%;
    text-align: center;
    margin-top: 3%;
}

#result-container img {
    display: block;
    margin: 15px;
    max-width: 100%;
    border-radius: 4px;
    border: 2px rgb(113, 169, 219);
    align-self: center;
    margin-bottom: 10px;
}
/* .result-before{
    content: "RESULT\n";
    text-align: center;
    padding: 5px;
    font-family: inherit;
    font-size: medium;
    font-weight: 300;
} */

.result-box{
    display: inline-flex;
    align-items: center;
    text-align: center;
    font: medium white ;
    font-family: inherit;
    border: rgb(98, 135, 221) 1px;
    border-radius: 4px;
    background-color: #44d147;
    padding: 10px;
    margin-top: 2% ; 
    animation: pop 0.6s ease-out;
    font-weight: 400;
}

.btn-lg,
.btn-lg:hover {
    background-color: #2b3654;
    border-radius: 15px;
    border-color: aliceblue;
    /* margin-right: 10cqmax; */
    font-size: x-large;
    line-height: 25px;
}

/* .result-box{
    border: 1px solid #644040;
            padding: 10px;
            margin-top: 20px;
} */